<table class="tabela">
    <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="transferHistoric.length > 0; else listaVazia">
        <tr class="tabela__linha" *ngFor="let transfer of transferHistoric">
            <td class="tabela__conteudo">{{ transfer?.data | date: 'short'}}</td>
            <td class="tabela__conteudo">{{ transfer?.valor | currency}}</td>
            <td class="tabela__conteudo">{{ transfer?.destino }}</td>
        </tr>
    </tbody>
</table>
<ng-template #listaVazia>
    <p>Nenhuma operação cadastrada.</p>
</ng-template>